
{% load static %}


<!-- Top Header-->
<header class="section-header">
    <nav class="navbar p-md-0 navbar-expand-sm navbar-light border-bottom">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTop4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTop4">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                     <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">   Language </a>
                    <ul class="dropdown-menu small">
                        <li><a class="dropdown-item" href="#">English</a></li>
                        <li><a class="dropdown-item" href="#">Arabic</a></li>
                        <li><a class="dropdown-item" href="#">Russian </a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> USD </a>
                    <ul class="dropdown-menu small">
                        <li><a class="dropdown-item" href="#">EUR</a></li>
                        <li><a class="dropdown-item" href="#">AED</a></li>
                        <li><a class="dropdown-item" href="#">RUBL </a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li><a href="#" class="nav-link"> <i class="fa fa-envelope"></i> Email </a></li>
                <li><a href="#" class="nav-link"> <i class="fa fa-phone"></i> Call us </a></li>
            </ul> <!-- list-inline //  -->
          </div> <!-- navbar-collapse .// -->
        </div> <!-- container //  -->
        </nav>
    </header>